body{
    padding: 0%;
    margin: 0%;
    width: 100%;
    width: 100%;
    font-family:helvetica;
  
}

a{
    text-decoration: none;
    border: none;
    color: gray;
}
a:hover{
    color: rgb(255, 94, 0);
}

.header{
    display: flex;
     width: 100%;
     height: 90px;
    position: fixed;
    background-color: white;
    color: gray;
    top: 0%;

        
}

/* Logo do Header*/

.Logo{
width: 30%;
margin-left: 100px;
margin-top: 35px;
}

/* Search no centro do Header*/



.Search{
  
    width: 22%;
    margin-top: 30px;
    margin: 0, auto;
    margin-right: 180px;
    
}

.input-search{
    display: flex;
    border: gray 2px solid;
    border-radius: 200px;
    width: 300px;
    
    
}
.input-search h4{
    
    margin-left: 20px;
    margin-top: 13px;
    margin-bottom: 11px;
}
.input-search img{
     
    color: gray;
    margin-top: 14Px;
    margin-left: 90px;
    margin-right: 0px;
    margin-top: 5px;
    margin-bottom: 8px;
}



/* Direita do Header*/

.Host{
    
    display: flex;
    width: 16%;
    margin-right: 15px;
}

.Host h4{
    margin-top: 45px;
}

.Host img{
    width: 20px;
    height: 20px;
    margin-top: 44px;
    margin-left: 18px;
}


/* Tela de perfil*/
.option{

    
    margin-top: 30px;
    border: 1px gray solid;
    border-radius: 20px;
    padding-left: 8px;
    padding-right: 7px;
   margin-bottom: 15px;
}
.Option{
   
    margin-top: 8px;
}

.menu{
    margin-bottom: 3px;
    margin-right: 8px;
}
/*FOTOS*/

main{
    margin-top: 50px;
    margin-left: 100px;
}



.infos-topz{
    display: flex;
    width: 100%;
}

.topz-esquerda{
    display: flex;
}


.topz-esquerda img{
 margin-top: 20px;
 margin-right: 5px;
}

.shared{
display: flex;
margin-left: 710px;
}
.Save{
    display: flex;
    margin-left: 20px;
}

/*grid*/

.fotos{
    display: flex;
    margin-left: 9px;
    
}
.fotos img{
    border-radius: 10px;
}

.fotos-in-grid-top{
    margin-left: 9px;
}


/* Final*/


.end{
    display:flex;
    margin-left: 60px;
}

.headerr{
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;    
    padding-bottom: 20px;
    border-bottom: gray 1px solid;
}
.headerr img{
margin-right: 20px;
border-radius: 50%;

}
.headerr h2{
    margin-bottom: 0%;
}
.headerr h5{
    margin-top: 10px;
}

/* Beneficios*/
.Like-here{
    border-bottom: solid gray 1px;
}

.beneficios{
    display: flex;
}

.beneficios img{
    margin-right: 10px;
}
.beneficios h4{
    margin-top: 9px;
    margin-bottom: 0%;
    
}
.beneficios h5{
    margin-top: 0%;
}


.beneficios2{
    display: flex;
}

.beneficios2 img{
    margin-right: 10px;
}
.beneficios2 h4{
    margin-top: 9px;
    margin-bottom: 0%;
    
}
.beneficios2 h5{
    margin-top: 0%;
}



.corpo-form{
    border: 1px gray solid;
    width: 300px;
    height: 400px;
    margin-left: 100px;
    margin-top: 50px;
    color: rgba(46, 46, 46, 0.651);
    border-radius: 10px;
}


.part1 h3{
     margin-left: 30px;
     
     margin-bottom: 0%;
    
}

.classificação{
display: flex;
margin-left: 30px;

}
.classificação img{
    margin-top: 0px;
    margin-right: 5px;
}

.classificação h5{
    margin-top:1px;
}




/*form*/

.grid-form-top{
    display: flex;
    align-items: center;
    justify-content: center;
}

.ladoA{
    border: gray 1px solid;
    width: 140PX;
    height: 40PX;
}
.ladoA h5{
   margin-top: 0%;
   margin-bottom: 0%;
   margin-left: 10px;
}
.ladoA h6{
    margin-left: 10px;
   margin-top: 6px;
   margin-bottom: 0%;
}

.bottom{
    margin-left: 8px;
    width: 282px;
    height: 40PX;
    border: solid gray 1px;

}

.bottom h6{
    margin-top: 0%;
   margin-bottom: 0%;
   margin-left: 10px;
}
.bottom h5{
    margin-left: 10px;
    margin-top: 6px;
    margin-bottom: 0%;
}
/* buttom*/

.buttom{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-left: 8px;
    width: 282px;
    height: 40PX;
    background-image:radial-gradient(rgb(255, 95, 95), rgb(255, 0, 43)) ;
    color:white;
    border-radius: 10px;
    
}
.buttom H4:hover{
color: rgb(0, 0, 0);
}

/*Preços*/
.preço1{
    display: flex;
    margin-left: 10px;
}
.preço1 h6{
    margin-top: 10px;
    margin-bottom: 2px;
}

.h6{
    
    margin-right: 150px;
}
.h7{
    margin-right: 161px;
}
.h8{
    margin-right: 161px;
}
.h9{
    margin-right: 130px;
    margin-bottom: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.h9:hover{
    color: tomato;
}
.h10{
    margin-right: 197px;

}

.total{
    border-top: gray 1px solid;
    display: flex;
    margin-left: 9px;
    width: 270px;
    color: black;
}
.total h5 {
    margin-top: 10px;
    margin-bottom: 0;
    width: 20px;
}
#res2{
    width: 90px;
}











.PopUp{
    display: none;
}
.PopUp.mudar{
    display: flex;
}






.InPopUp{
 position: fixed;
 width: 1100px;
 height: 500px;
 background-color: rgb(255, 255, 255) ;
 bottom: 10%;
 left: 9%;
 border-radius: 10px;
 border: rgb(255, 0, 0) 5px solid;


}
.Header-PopUp{
    background: rgb(200, 200, 202);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.Container-central{
    display: flex;
    margin-top: 0px;
    width: 100%;
    align-items: center;
    justify-content: center;
}
button{
    position: absolute;
    top: 9px;
    left: 1050px;
    background-color:white;
    border: solid 4px white;
    border-radius: 10%;
    width: 40px;
    height: 40px;
    cursor: pointer;

    
}

.container-Left{
   
    margin-right: 60px;
    width: 500px;
   
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    
}

.container-right{
    
    width: 500px;


    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.basica-top img{
    
    border: solid rgb(0, 0, 0) 1px;
    border-radius: none;
    margin-top: 5px;
    
 

}.basica-top h4{
    text-align: center;
    width: 100%;
    margin-top: 2px;
    display: flex;
    justify-content: center;
}
.basica-meio{
    text-align: center;
    margin-top: 2px;
    width: 400px;
} 
.txtmodal{
display: flex;
text-align: center;
width: 100%;
justify-content: center;
margin-bottom: 0px;
}

    .basica-meio p{
       margin-top: 0%;
       margin-bottom: 2%;
      
  
}
.botão1{
    display: flex;
    justify-content: center;
}
.BOTÃO{
    text-align: center;
    width: 300px;
    background: rgb(141, 5, 5);
    color: white;
    border-radius: 5PX;
    padding-top: 1%;
    padding-bottom: 1%;
   display: flex;
   justify-content: center;
   margin: 0 auto;
   
    
}
.BOTÃO:before{
    color: black;
}
.itensprotect{
    font-size: 15px;
}

.chekmodal{
    text-align: center;
    margin-top: 25px;
}
