body{
    padding: 0%;
    margin: 0%;
    width: 100%;
    width: 100%;
    font-family:helvetica;
  
}
header{
    position: fixed;
}
.header{
    
     display: flex;
     width: 180%;
     height: 90px;
     background-color: white;
     color: gray;
     border-bottom: rgb(206, 206, 206) 1px solid;

        
}
.container2{
    position: relative;
    left: 760px;
    
}

/* Logo do Header*/

.Logo{
width: 20%;
margin-left: 100px;
margin-top: 35px;
}

/* Search no centro do Header*/



.Search{
  
    width: 40%;
    margin-top: 35px;
   
    
    
}

.input-search{
    display: flex;
    border: gray 2px solid;
    border-radius: 200px;
    width: 85%
    
    
}
h5{
    margin-top: 10px;
    background: none;
    border: none;  
    margin-bottom: 2%; 
}
.input1{
   width: 20%;
   margin-right: 20px;
   margin-left: 20px;
}
.input2{
    width:20%;
    
    
    
    
    
}
.input3{
    width: 40%;
    
}



.img{
     
    color: gray;
    margin-top: 3Px;
   margin-bottom: 0%;
   
}



/* Direita do Header*/

.Host{
    
    display: flex;
    width: 16%;
    margin-right: 15px;
}

.Host h4{
    margin-top: 45px;
}

.Host img{
    width: 20px;
    height: 20px;
    margin-top: 44px;
    margin-left: 18px;
}


/* Tela de perfil*/
.option{

    
    margin-top: 30px;
    border: 1px gray solid;
    border-radius: 20px;
    padding-left: 8px;
    padding-right: 7px;
   margin-bottom: 15px;
}
.Option{
   
    margin-top: 8px;
}

.menu{
    margin-bottom: 3px;
    margin-right: 8px;
}


/*CASAS*/


.page2{
    display: flex;
    
    margin-left: 30px;
   
}



.container1{
    margin-top: 100px;
}

/*CASAS HEADER*/


nav{
    display: flex;
    width: 120%;

}

.A1{
width: 14%;
margin-right: 10px;
border: solid black 1px;
border-radius: 50px;
align-content: center;
}

.A1 h5{
    margin-left: 5px;
    padding-bottom: 10px;
}




.A2{
    width: 20%;
    margin-right: 10px;
border: solid black 1px;
border-radius: 50px;
}

.A2 h5{
    margin-left: 9px;
    padding-bottom: 10px;
}



.A3{
    width: 14%;
    margin-right: 10px;
border: solid black 1px;
border-radius: 50px;
}

.A3 h5{
    margin-left: 9px;
    padding-bottom: 10px;
}



.A4{
    width: 23%;
    margin-right: 10px;
border: solid black 1px;
border-radius: 50px;
}
.A4 h5{
    margin-left: 12px;
    padding-bottom: 10px;
}


.A5{
    width: 12%;
border: solid black 1px;
border-radius: 50px;

}
.A5 h5{
   
        margin-left: 9px;
        padding-bottom: 10px;
    
}


/*Opções de casas*/


.esquerda-casa img{
    border-radius: 10px;
}
.casa1{
    display: flex;
    width: 110%;
    margin-top: 30px;
    border-top: solid 1px rgb(151, 151, 151);
    padding-top: 25px;
}


.direita-infos{
    margin-left: 10px;
    color: gray;
}

.info1 h3{
margin-top: 0%;
color: rgb(68, 68, 68);
border-bottom: rgba(185, 185, 185, 0.801) 1px solid;

}

.info2{
    margin-bottom: 60px;
}

.info3{
    display: flex;
}
.info3-esquerda{
    display: flex;
}